{% extends "base.html" %}
{% block content %}

<div class="calculator-container">
    <div class="calculator-containner_label">
        <h1 class="calculator-title">duty import calculator</h1>

        <div class="calculator-group">
            <div class="input-group success">
                <label>
                    <input type="text" class="first_input" placeholder="The value of the item">
                </label>

                              <select name="" class="list_dropdown_currency">
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                        <option value="EUR">EUR</option>
                        <option value="TRY">TRY</option>
                                  <option value="CHF">CHF  </option>

                     

                    </select>

                <div class="result_duty">
                    <h1 class="finaly_result">0</h1>
                                        <button class="i_calculation">calculation</button>

                </div>





            </div>
        </div>
    </div>
</div>





{% endblock %}

{% block after_script %}
<script>
    curr();

</script>

{% endblock %}