{% extends "base.html" %}
{% block content %}

<div class="calculator-container">
    <div class="calculator-containner_label">
        <h1 class="calculator-title">duty import calculator</h1>

        <div class="calculator-group">
            <div class="input-group success">
                <label>
                    <input type="text" class="first_input" placeholder="The value of the item">
                </label>

                <div class="result_duty">
                    <h1 class="finaly_result">0</h1>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

<!--{% block after_script %}-->
<!--<script>-->
<!--    calculatorInit();-->
<!--</script>-->

<!--{% endblock %}-->