{% extends "base.html" %}
{% block content %}

      <div class="header__title">
        <h1>
          Nothing
          <!-- Green highlight effect -->
          <span class="highlight">is certain </span>
          <br />
          <span >except</span>
          <br>
          <span>death and taxes'</span>



        <h4>An easy way to manage your tax payments.</h4>
        <img
          src="../static/img/hero.png"
          class="header__img"
          alt="Minimalist bank items"
        />
      </div>
    </header>


    <section class="section" id="section--1">
      <div class="section__title">
        <h2 class="section__description"> types of taxes</h2>
        <h3 class="section__header">
          Information on three main taxes
                </h3>
      </div>

      <div class="features">
        <img
          src="../static/img/digital-lazy.jpg"
          data-src="static/img/digital.jpg"
          alt="Computer"
          class="features__img lazy-img"
        />
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use xlink:href="static/img/icons.svg#icon-monitor"></use>
            </svg>
          </div>
          <h5 class="features__header">value added tax.
          </h5>
          <p>
            Value-added tax (VAT) is a consumption tax on goods and services that is levied at each stage of the supply chain where value is added, <br>
            from initial production to the point of sale.
             <br> amount of VAT the user pays is based on the cost of the product minus any costs of materials <br>
             in the product that have already been taxed at a previous stage. The VAT rate shall be 18%.


          </p>
        </div>

        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use xlink:href="static/img/icons.svg#icon-trending-up"></use>
            </svg>
          </div>
          <h5 class="features__header">Property Tax</h5>
          <p>
            Property taxable property and land. The annual property tax
            <br>
            rate for an enterprise/organisation shall be determined in the maximum amount of 1% of the value of the taxable property.
            <br>
             the purposes of this paragraph, the value of taxable property shall be the average annual net book value
          </p>
        </div>
        <img
          src="../static/img/grow-lazy.jpg"
          data-src="static/img/grow.jpg"
          alt="Plant"
          class="features__img lazy-img"
        />

        <img
          src="../static/img/card-lazy.jpg"
          data-src="static/img/card.jpg"
          alt="Credit card"
          class="features__img lazy-img"
        />
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use xlink:href="static/img/icons.svg#icon-credit-card"></use>
            </svg>
          </div>
          <h5 class="features__header">Profit Tax</h5>
          <p>
            The object of profit taxation of a resident enterprise shall be:
            <br>
            a) distributed profit;
            <br>
            b) costs incurred or other payments not related to economic activity;
            <br>
            c) free delivery of goods/services and/or transfer of funds;
            <br>
            d) representation expenses paid in excess of a limited amount determined under this Code.
            <br>
            The profit tax rate shall be 15%.



          </p>
        </div>
      </div>




      </p>
    </div>
  </div>

    </section>






</div>

{% endblock %}